@{
    ViewBag.Title = "About";
}
<h4> <p align="right"> @ViewBag.x.session</p></h4>
<h2>@ViewBag.Title.</h2>


<h3>StackTutz is an educational forum to get your answers.</h3>

<p>Students use StackTutz to search answers for their educational problems they are facing.</p>
