@{
    ViewBag.Title = "Contact";
}
<h4> <p align="right"> @ViewBag.x.session</p></h4>
<h2>@ViewBag.Title.</h2>

<h3>@ViewBag.Message</h3>

<address>
    <strong>Waleed Nasir Khan</strong><br />
    <span class="glyphicon glyphicon-phone-alt">     </span>+92332 4709418<br />
   
    <span class="glyphicon glyphicon-envelope"></span>    <a href="mailto:waleednasir.khan@hotmail.com"> waleednasir.khan@hotmail.com    </a>
</address>

